/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ General layout section
// ---------------------------------------
*/
/*html, body {*/
    /*height: 100%;*/
/*}*/

/*body {*/
    /*min-height: 100%;*/
/*}*/

/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Footer section
// ---------------------------------------
*/


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Main page section
// ---------------------------------------
*/


h1#main-title {
    font-size: 63px;
    text-align: center;
}



/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Search results section
// ---------------------------------------
*/
#results-div {
    position: relative;
}

.buy-verdict {
    color: green;
}

.pass-verdict {
    color: red;
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ About section
// ---------------------------------------
*/