/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ General layout section
// ---------------------------------------
*/
html, body {
    height: 100%;
    overflow: auto;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

body {
    min-height: 100%;
    position: relative;
    /*background-color: #e0eaf9; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(-90deg, #e0eaf9, whitesmoke); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(bottom right, #e0eaf9, whitesmoke); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(bottom right, #e0eaf9, whitesmoke); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(160deg, rgba(0, 229, 55, 0.8), rgba(0, 127, 31, 0.8)); !* Standard syntax *!*/
    /* Potential colors:
        Greens: #47d85f, #16e238, #4CFF77, #00E537, #007F1F
        Blues: #e0eaf9
        Whites: whitesmoke
    */
    /*background: url("/static/img/blur-background09.jpg");*/
    /*background-size: cover;*/


    /* Even bigger arrows! */
    /* [180, 256, 364, 540, 90, 272, 452, 634, 512] */
    background:
linear-gradient(45deg, #317F47 120px, transparent 120px)171px 171px,
linear-gradient(45deg, #317F47 120px, transparent 120px,transparent 241px, #489E60 241px, #489E60 360px, transparent 360px),
linear-gradient(-45deg, #317F47 60px, transparent 60px, transparent 182px,#317F47 182px,#317F47 301px,transparent 301px,transparent 423px,#317F47 423px);
background-color:#489E60;
background-size: 341px 341px;

    /*background-color: rgba(54, 66, 69, .2);*/
    /*background-color: white;*/

    /* Color options*/
    /* Original colors: 92baac, e1ebbd*/
    /* Other options:
        Greens: 3B9978, 317F64
        More: 317F47 (49, 127, 71), 489E60 (72, 158, 96) <-- current winners!!!
        Lighter versions of ^ greens: 42AB5B (66, 171, 91), 78F797 (120, 247, 151)
        Still more greens: 318C45, 55BD6B
        Grey: 78998E (rgb: 120, 153, 142), 5A736A (90, 115, 106)
        Darker grey: 364245 (54, 66, 69)
        Purple: B03ACC (176, 58, 204), 9E7CFF (158, 124, 255) <-- second one wins!
        Rust red: AB5642 (171, 86, 66)

    */
}

/*body.landing_page_body, body.about_page_body, body.contact_page_body {*/
    /*background:*/
/*linear-gradient(45deg, #317F47 120px, transparent 120px)171px 171px,*/
/*linear-gradient(45deg, #317F47 120px, transparent 120px,transparent 241px, #489E60 241px, #489E60 360px, transparent 360px),*/
/*linear-gradient(-45deg, #317F47 60px, transparent 60px, transparent 182px,#317F47 182px,#317F47 301px,transparent 301px,transparent 423px,#317F47 423px);*/
/*background-color:#489E60;*/
/*background-size: 341px 341px;*/
/*}*/

body.results_page_body {
    /*background: #489E60;*/
    background: rgba(60, 142, 83, 1);
}

#holder {
    min-height: 100%;
    position: relative;
    /*padding-bottom: 6rem;*/
    /*background-color: #c7ddef;*/
    overflow: hidden;
}

#content-div {
    padding-bottom: 10px;
    margin-bottom: 50px;

    /*position: absolute;*/
    /*top: 10%;*/
    /*transform: translateY(-50%);*/
    /*width: 100%;*/
    /*min-height: 100%;*/
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(54, 66, 69, 0.95);
    /*background-color: #489E60;*/
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar a {
    color: white !important;
}

.navbar.landing_page_navbar, .navbar.about_page_navbar, .navbar.contact_page_navbar {
    background-color: rgba(54, 66, 69, 0.95);
}

.solid_bubble {
    align-items: center;
    overflow: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    /*border-radius: 10px;*/
    background-color: rgba(54, 66, 69, 0.95);
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
    color: white;
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Main page section
// ---------------------------------------
*/
#content-div .vertical-center {
    align-items: center;
    /*padding-bottom: 30px;*/
    overflow: auto;
    /*background-color: #c7ddef;*/
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-body {
    /*border-radius: 10px;*/
    background-color: rgba(54, 66, 69, 0.95);
    /*padding-bottom: 20%;*/
    /*margin-bottom: 5%;*/
    padding-top: 5%;
    padding-bottom: 5%;
}

.title-body h1 {
    font-size: 63px;
    text-align: center;
    color: white;
    padding-top: 0;
    margin-top: 0;
}

.input-group-addon {
    background-color: #FFF;
    border-right: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

form .category-selector-div {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
}

.input-group input {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.input-group .input-group-addon + .form-control
{
    border-left:none;

}

.input-group-addon {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#main-form {
    padding-left: 8%;
    padding-right: 8%;
    overflow: visible;
}

#main-submit-button {
    background-color: rgba(158, 124, 255, 1);
    border-color: rgba(158, 124, 255, 1);
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    /*position: absolute;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#button-wrapper {
    position: relative;
}

.question_button_wrapper {

    text-align: center;
}

#question_button {
    /*appearance: none;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    /*color: #AB5642;*/
    color: white;
    font-size: 30pt;
    margin: 0 auto;
    width: 50px;
}

/* Small and smaller screens */
@media (max-width: 991px) {
    form .category-selector-div {
        padding-right: 0;
    }

    #main-submit-button {
        /*max-width: 150px;*/
        width: 40%;
        /*margin: auto;*/
        font-size: larger;
    }
    
    #button-wrapper {
        text-align: center;
    }

    #circle_info_button {
        width: 40px;
        height: 40px;
    }
}

/* Only small-sized screens (not phones) */
@media (min-width: 768px) and (max-width: 991px) {
    .title-body h1 {
        /*font-size: 40px;*/
    }
}

@media (max-width: 550px) {
    #main-submit-button {
        /*font-weight: normal;*/
        font-size: small;
    }
    .title-body h1 {
        font-size: 40px;
    }
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Search results section
// ---------------------------------------
*/
#results-div {
    position: relative;
    margin-top: 3%;
}

.buy-verdict {
    /*color: green;*/
    font-weight: bold;
    text-align: center;
    padding-top-top: 1vh;
    font-size: 45pt;
}

.pass-verdict {
    /*color: #AB5642;*/
    font-weight: bold;
    text-align: center;
    font-size: 45pt;
    padding-top: 1vh;
}

#carousel-wrapper {
    padding-bottom: 3%;
}

.carousel-buttons.controls{
    overflow-x: auto;
    /*padding:0;*/
    /*margin:0;*/
    white-space: nowrap;
    text-align: center;
    position: relative;
}

/*.carousel-buttons.controls li {*/
    /*display: table-cell;*/
    /*width: 1%;*/
    /*max-width:90px*/
/*}*/
/*.carousel-buttons.controls li.active {*/
    /*!*background-color:#eee;*!*/
    /*border-top:3px solid orange;*/
/*}*/
/*.carousel-buttons.controls a small {*/
    /*!*overflow:hidden;*!*/
    /*display:block;*/
    /*font-size:10px;*/
    /*margin-top:5px;*/
    /*font-weight:bold*/
/*}*/

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #c7ddef;
}

.provider-name {
    text-align: center;
    padding-bottom: 5px;
    font-size: 38pt;
    margin-top: 3%;
}

.divider {
    background-color: rgba(158, 124, 255, 1);;
    height: .8vh;
    /*margin-bottom: 1%;*/
}

.data-ul {
    width: 70%;
    margin: auto;
}

.carousel-buttons .ss_button {
    border-radius: 10px;
    background-color: transparent;
    /*background-color: #94eb91;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 5px;
    border-color: #c7ddef;
    /*border-color: #94eb91;*/
    border-width: 3px;
}

.carousel-buttons .ss_button:hover {
    background-color: transparent;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.carousel-buttons .ss_button:focus,
.carousel-buttons .ss_button:active {
   outline: none !important;
}

.canvas-div {
    width: 100%;
}

#ebay-chart {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
}

/* Small and smaller screens */
@media (max-width: 991px) {
    #slide-data-wrapper {
        /*text-align: center;*/
    }

    .stat-list {
        /*padding-right: 5%;*/
        /*padding-left: 30%;*/
        width: 400px;
        /*display: block;*/
        margin: 0 auto;
        /*display: inline-block;*/
    }
}

@media (max-width: 600px) {
    .provider-name {
        font-size: 25pt;
        margin-top: 5%;
    }

    .buy-verdict, .pass-verdict {
        font-size: 30pt;
    }
}



/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ About section
// ---------------------------------------
*/
.about-body p {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

.about-body h2 {
    text-align: center;
}

.about-body {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Contact section
// ---------------------------------------
*/
.contact-body h2 {
    text-align: center;
}

.contact-body p {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
}

.contact-body {
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact-body .contact-info {
    text-align: center;
}

.contact-info #contact_email {
    color: rgba(158, 124, 255, 1);
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Footer section
// ---------------------------------------
*/

#footer {
    /*height: 50px;*/
    /*background-color: blue;*/
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1rem;
}

#footer p {
    font-size: 10px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Loading Indicator
// ---------------------------------------
*/
@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
.uil-default-css > div:nth-of-type(1){
    -webkit-animation: uil-default-anim 2s linear infinite;
    animation: uil-default-anim 2s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.uil-default-css {
    position: relative;
    background:none;
    width:200px;
    height:200px;
}
.uil-default-css > div:nth-of-type(2){
    -webkit-animation: uil-default-anim 2s linear infinite;
    animation: uil-default-anim 2s linear infinite;
    -webkit-animation-delay: -0.33333333333333337s;
    animation-delay: -0.33333333333333337s;
}
.uil-default-css {
    position: relative;
    background:none;
    width:200px;
    height:200px;
}
.uil-default-css > div:nth-of-type(3){
    -webkit-animation: uil-default-anim 2s linear infinite;
    animation: uil-default-anim 2s linear infinite;
    -webkit-animation-delay: 0.33333333333333326s;
    animation-delay: 0.33333333333333326s;
}
.uil-default-css {
    position: relative;
    background:none;
    width:200px;
    height:200px;
}

#loading_part_1 { top:60px;left:90px;width:20px;height:80px;background:#b03acc;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:2px;position:absolute; }
#loading_part_2 { top:60px;left:90px;width:20px;height:80px;background:#b03acc;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:2px;position:absolute; }
#loading_part_3 { top:60px;left:90px;width:20px;height:80px;background:#b03acc;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:2px;position:absolute; }

#loading {
    position: relative;
}

#loading_message {
    color: white;
    text-align: center;
    font-size: 3em;
}

#loading_animation_wrapper {
    position: absolute;
    padding-top: 2%;
}