/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ General layout section
// ---------------------------------------
*/
html, body {
    height: 100%;
    overflow: auto;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

body {
    min-height: 100%;
    position: relative;
    /*background-color: #e0eaf9; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(-90deg, #e0eaf9, whitesmoke); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(bottom right, #e0eaf9, whitesmoke); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(bottom right, #e0eaf9, whitesmoke); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(160deg, rgba(0, 229, 55, 0.8), rgba(0, 127, 31, 0.8)); !* Standard syntax *!*/
    /* Potential colors:
        Greens: #47d85f, #16e238, #4CFF77, #00E537, #007F1F
        Blues: #e0eaf9
        Whites: whitesmoke
    */
    /*background: url("/static/img/blur-background09.jpg");*/
    /*background-size: cover;*/


    /* Even bigger arrows! */
    /* [180, 256, 364, 540, 90, 272, 452, 634, 512] */
    background:
linear-gradient(45deg, #317F47 120px, transparent 120px)171px 171px,
linear-gradient(45deg, #317F47 120px, transparent 120px,transparent 241px, #489E60 241px, #489E60 360px, transparent 360px),
linear-gradient(-45deg, #317F47 60px, transparent 60px, transparent 182px,#317F47 182px,#317F47 301px,transparent 301px,transparent 423px,#317F47 423px);
background-color:#489E60;
background-size: 341px 341px;


    /* Color options*/
    /* Original colors: 92baac, e1ebbd*/
    /* Other options:
        Greens: 3B9978, 317F64
        More: 317F47, 489E60
        Lighter versions of ^ greens: 42AB5B (66, 171, 91), 78F797 (120, 247, 151)
        Still more greens: 318C45, 55BD6B
        Grey: 78998E (rgb: 120, 153, 142), 5A736A (90, 115, 106)
        Darker grey: 364245 (54, 66, 69)
        Purple: B03ACC (176, 58, 204), 9E7CFF (158, 124, 255)
        Rust red: AB5642 (171, 86, 66)

    */


}

#holder {
    min-height: 100%;
    position: relative;
    /*padding-bottom: 6rem;*/
    /*background-color: #c7ddef;*/
    overflow: hidden;
}

#content-div {
    padding-bottom: 10px;
    margin-bottom: 50px;

    /*position: absolute;*/
    /*top: 10%;*/
    /*transform: translateY(-50%);*/
    /*width: 100%;*/
    /*min-height: 100%;*/
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(54, 66, 69, 0.95);
    /*background: transparent; */
    border: 0;
}

.navbar a {
    color: white !important;
}

.hollow_bubble {
    align-items: center;
    overflow: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 5px solid rgba(54, 66, 69, 0.95);
}

.solid_bubble {
    align-items: center;
    overflow: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: rgba(54, 66, 69, 0.95);
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
    color: white;
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Main page section
// ---------------------------------------
*/
#content-div .vertical-center {
    align-items: center;
    /*padding-bottom: 30px;*/
    overflow: auto;
    /*background-color: #c7ddef;*/
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-body {
    border-radius: 10px;
    background-color: rgba(54, 66, 69, 0.95);
    /*padding-bottom: 20%;*/
    /*margin-bottom: 5%;*/
    padding-top: 5%;
    padding-bottom: 5%;
}

.title-body h1 {
    font-size: 63px;
    text-align: center;
    color: white;
    padding-top: 0;
    margin-top: 0;
}

.input-group-addon {
    background-color: #FFF;
    border-right: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

form .category-selector-div {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
}

.input-group #first_question {
    border-radius: 4px;
}

.input-group .input-group-addon + .form-control
{
    border-left:none;
}

#main-form {
    padding-left: 8%;
    padding-right: 8%;
}

#main-submit-button {
    background-color: rgba(158, 124, 255, 1);
    border-color: rgba(158, 124, 255, 1);
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

#button-wrapper {
    /*display: inline;*/
}

#circle_info_button {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    text-align: center;
    color: white;
    vertical-align: text-top;
    margin: auto;
    background-color: #AB5642;
    border-color: #AB5642;
}

/* Small and smaller screens */
@media (max-width: 991px) {
    form .category-selector-div {
        padding-right: 0px;
    }

    #main-submit-button {
        /*max-width: 150px;*/
        width: 40%;
        /*margin: auto;*/
        font-size: larger;
    }
    
    #button-wrapper {
        text-align: center;
    }
}

/* Only small-sized screens (not phones) */
@media (min-width: 768px) and (max-width: 991px) {
    /*#main-form {*/
        /*max-width: 85%;*/
    /*}*/
}

@media (max-width: 550px) {
    #main-submit-button {
        /*font-weight: normal;*/
        font-size: small;
    }
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Search results section
// ---------------------------------------
*/
#results-div {
    position: relative;
    margin-top: 3%;
}

.buy-verdict {
    color: green;
    text-align: center;
}

.pass-verdict {
    color: red;
    text-align: center;
}

#carousel-wrapper {

}

.carousel-buttons.controls{
    overflow-x: auto;
    /*padding:0;*/
    /*margin:0;*/
    white-space: nowrap;
    text-align: center;
    position: relative;
}

/*.carousel-buttons.controls li {*/
    /*display: table-cell;*/
    /*width: 1%;*/
    /*max-width:90px*/
/*}*/
/*.carousel-buttons.controls li.active {*/
    /*!*background-color:#eee;*!*/
    /*border-top:3px solid orange;*/
/*}*/
/*.carousel-buttons.controls a small {*/
    /*!*overflow:hidden;*!*/
    /*display:block;*/
    /*font-size:10px;*/
    /*margin-top:5px;*/
    /*font-weight:bold*/
/*}*/

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #c7ddef;
}

.provider-name {
    text-align: center;
    padding-bottom: 5px;
}

.data-ul {
    width: 70%;
    margin: auto;
}

.carousel-buttons .ss_button {
    border-radius: 10px;
    background-color: transparent;
    /*background-color: #94eb91;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 5px;
    border-color: #c7ddef;
    /*border-color: #94eb91;*/
    border-width: 3px;
}

.carousel-buttons .ss_button:hover {
    background-color: transparent;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.carousel-buttons .ss_button:focus,
.carousel-buttons .ss_button:active {
   outline: none !important;
}

.canvas-div {
    width: 100%;
}

#ebay-chart {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
}





/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ About section
// ---------------------------------------
*/
.about-body p {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
}

.about-body h2 {
    text-align: center;
}

.about-body {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Contact section
// ---------------------------------------
*/
.contact-body h2 {
    text-align: center;
}

.contact-body p {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
}

.contact-body {
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact-body .contact-info {
    text-align: center;
}

.contact-info #contact_email {
    color: rgba(158, 124, 255, 1);
}


/*
// ---------------------------------------
// +++++++++++++++++++++++++++++++++++++++ Footer section
// ---------------------------------------
*/

#footer {
    /*height: 50px;*/
    /*background-color: blue;*/
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 1rem;
}

#footer p {
    font-size: 10px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}
